@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf");
}

@media screen {
    body {
        font-size: 1.7vw;
    }
}

html, body {
    margin: 0;
}

body {
    display: flex;
    background-image: url("fog-coast-riccardo-gazzin-unsplash.jpg");
    background-size: 100vh;
}

h1 {
    color: rgb(247, 240, 205);
    font-family: Norse-bold;
    font-size: 4.2em;
    margin-left: 2rem;
}

img {
    max-height: 5.5rem;
}

#odinBox {
    display: flex;
    align-items: center;
    background-color: rgb(16, 20, 26);
    margin-top: 5.37rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    opacity: .7;
    max-height: 5rem;
    min-width: 25vw;
}

#formContainer {
    background-color: rgb(116, 141, 151);
    display: flex;
    flex-direction: column; 
    padding-top: 5rem;
    padding-bottom: 3rem;
    border: .15rem solid rgb(16, 20, 26);
    min-height: 100vh;
}

h2 {
    font-size: 1em;
    padding-left: 2rem;
    color:rgb(247, 240, 205)
}

p {
    font-size: .8em;
    font-weight: 530;
    padding-left: 2rem;
    color: rgb(247, 240, 205);
    font-weight: 600;
}

h3 {
    font-size: 1em;
    padding-left: 3rem;
    color:rgb(247, 240, 205);
}

#formBody {
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 101, 117);
    box-shadow: 1rem .7rem 1.2rem -1rem;
    border: .03rem solid rgb(16, 20, 26);
    border-left: 0rem;
}

h4 {
    font-size: .9em;
    padding-left: 2rem;
    color: rgb(211, 205, 178);
}

.formRow {
    display:flex;
    margin: 8px;
    padding-left: 1rem;
}

label {
    font-size: 10px;
    color: rgb(211, 205, 178);
}

.formInput {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    background-image: linear-gradient(
                        to right, 
                        rgb(233, 191, 197), 
                        rgb(192, 186, 187)
                    );
}

input:focus {
    outline: none;
    box-shadow: 0 0 .3rem rgb(230, 207, 158);
    border: .1.2rem solid rgb(113, 146, 189);
    border-radius: .2rem;
}

button {
    margin: .5rem;
    background-color: rgb(72, 85, 105);
    padding: .4rem;
    font-weight: 545;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 14rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border: .18rem solid rgb(16, 20, 26);
    border-radius: .3rem;
    color: rgb(247, 240, 205)
}